<?php

$credentials = [
    'jiraHost' => 'https://your_domain.atlassian.net',
    'jiraUser' => 'name@your_domain.com',
    'jiraPassword' => 'api_key',
];

$importJira = false;
$importGithub = false;
