<?php

$credentials = [
    'jiraHost' => 'https://your_domain.atlassian.net',
    'jiraUser' => 'name@your_domain.com',
    'jiraPassword' => 'api_key',
];

$githubToken = 'token_secret';
$githubUser = 'user_or_organization';
$githubRepository = 'repository_name';

$importJira = false;
$importGithub = false;
$analyzeGitHub = false;
$analyzePath = '';
